body {
  color: #353535;
  font-family:  sans-serif;
  padding: 15px;
  background-color:white;
}

h1 {
  margin-bottom: 8px;
  font-family: sans-serif;
}

table {
  margin-top: 15px;
  border-collapse:separate;
  border-spacing:0 5px;
  width: 100%;
}

th {
  font-size: 25px;
  padding: 15px;
  text-align: left;
  background-color: #f9f9f9;
}

th:last-child, td:last-child {
  text-align: right;
}

td {
  padding: 15px;
  font-size: 90px;
}

td:first-letter {
  text-transform: uppercase;
}

img {
  padding: 2px;
  text-align:bottom;
}

.medalScore { 
    color: darkGray;
    font-size: 14px;
    padding: 0 15px 0 11px;
}

.gold {
  background-color: #f8d667;
}

.silver {
  background-color: #cccccc;
}

.bronze {
  background-color: #f3c198;
}

.grey {
  background-color: #f9f9f9;
}

#max-point{
  padding-top: 10px;
  font-weight: bold;
}

#best-pick {
  width: 360px;
  text-align: center;
  background-color: #f8d667;
}
